<div class="col-md-8 ">
        <h2>Latest posts</h2>
        <p class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</p>
        {% for post in paginator.posts  %}
        <article class="border-bottom mb-3">
        <h3 class="card-title"><a href="{{ post.url }}" title="Read the full article">{{ post.title }}</a></h3>
        <p class="text-muted">{{ post.date | date_to_string}}</p>
        {{ post.excerpt }}
        <p><small><a href="{{ post.url }}" title="Read the full article"><em>Continue reading this post</em></a></small></p>
        </article>
        {% endfor %}
        {% include pagination.html %}
</div>
