<div class="col-md-8 ">
        <h2>Latest posts</h2>
        {% for post in site.posts limit:5 %}
        <article class="border-bottom mb-3">
        <h3 class="card-title"><a href="{{ post.url }}" title="Read the full article">{{ post.title }}</a></h3>
        <p class="text-muted">{{ post.date | date_to_string}}</p>
        <p class="card-text">{{ post.excerpt }} <small><a href="{{ post.url }}" title="Read the full article"><em>Continue reading this post</em></a></small></p>
        </article>
        {% endfor %}
        {% include readmore.html %}
</div>
