<nav title="navigation" class="navbar sticky-top navbar-expand-lg shadow navbar-dark bg-primary mb-3">
        <a href="/"><span class="navbar-brand"><img src="/assets/images/rob-jefferson-thumb.jpg" width="30" height="30" class="d-inline-block align-top mr-2" alt="Rob Jefferson">robjefferson.uk</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                {% for item in site.data.navigation %}
                        <li class="nav-item"><a href="{{ item.link }}" {% if item.new-window == true %} target="_blank" rel="noopener" {% else %} {% endif %} title="Go to {{ item.name }}" {% if page.url == item.link %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
                        {{ item.name }}</a></li>
        {% endfor %}
        </ul>
</nav>