<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Person",
      "name": "Rob Jefferson",
      "url": "https://www.robjefferson.uk",
      "image": "https://www.robjefferson.uk/images/rob-jefferson.jpg",
      "sameAs": [
        "https://twitter.com/robjefferson",
        "https://github.com/rob-jefferson"
      ],
      "jobTitle": "Director of Marketing",
      "worksFor": {
        "@type": "Organization",
        "name": "Knapton Wright"
      }  
    }
</script>
